
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #ccc;
}

@media (max-width: 600px) {
    .menu {
        position: relative;
    }

    .menu ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
    }

    .menu ul.visible {
        visibility: visible;
        opacity: 1;
    }

    .menu li {
        margin: 5px 0;
    }

    .menu a {
        color: #ccc;
    }

    .menu a:hover {
        color: #fff;
    }

    .menu > li {
        display: inline-block;
        position: relative;
    }

    .menu > li:hover > ul {
        visibility: visible;
        opacity: 1;
    }
}


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }

  
  